<sb-layout-dashboard
    ><sb-dashboard-head title="Quản lý tài khoản" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card
        ><div class="card-header">
            <fa-icon class="mr-1" [icon]="['fas', 'table']"></fa-icon>Danh sách cán bộ cấp dưới
            <button mat-raised-button color="primary" class="btn back" (click)="openDialog()">
                Thêm mới
            </button>
        </div>
        <div class="card-body">
            <div>
                <form class="form mat-form-field-outline-custom" [formGroup]="filterFormValid">
                    <div class="row">
                        <div class="col-md-4" *ngIf="displayTinh">
                            <div class="form-group">
                                <label class="col-md-6 pr-0">Tỉnh / Thành phố</label>
                                <mat-form-field appearance="fill" class="col-md-6">
                                    <mat-select
                                        placeholder="Chọn"
                                        formControlName="tinh"
                                        (selectionChange)="filterByTinh()"
                                    >
                                        <mat-option>--Chọn--</mat-option>
                                        <mat-option
                                            *ngFor="let item of listProvince"
                                            [value]="item?.id_tinh"
                                            >{{ item?.ten_tinh }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="displayHuyen">
                            <div class="form-group">
                                <label class="col-md-6 pr-0">Quận / Huyện</label>
                                <mat-form-field appearance="fill" class="col-md-6">
                                    <mat-select
                                        placeholder="Chọn"
                                        formControlName="huyen"
                                        (selectionChange)="filterByHuyen()"
                                    >
                                        <mat-option>--Chọn--</mat-option>
                                        <mat-option
                                            *ngFor="let item of listQuan"
                                            [value]="item?.id_huyen"
                                            >{{ item?.ten_huyen }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-md-4" *ngIf="displayXa">
                            <div class="form-group">
                                <label class="col-md-6 pr-0">Xã / phường</label>
                                <mat-form-field appearance="fill" class="col-md-6">
                                    <mat-select
                                        placeholder="Chọn"
                                        formControlName="xa"
                                        (selectionChange)="filterByXa()"
                                    >
                                        <mat-option>--Chọn--</mat-option>
                                        <mat-option
                                            *ngFor="let item of listXa"
                                            [value]="item?.id_xa"
                                            >{{ item?.ten_xa }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </form>
                <br /><br />
                <div class="col-md-12">
                    <div style="overflow: hidden; width: 100%; height: 300px; position: relative">
                        <div id="tableContractId"></div>
                    </div>
                </div>
                <div class="col-md-12 text-right pr-10">
                    <span> Tổng số: {{ dataSource.length }} bản ghi</span>
                </div>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>
