<sb-layout-auth
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Tạo tài khoản</h3>
                    </div>
                    <div class="card-body">
                        <form
                            [formGroup]="registerForm"
                            autocomplete="off"
                            novalidate="novalidate"
                            (submit)="submitRegister()"
                            method="post"
                        >
                            <div class="form-group">
                                <label class="small mb-1" for="inputName">Họ tên</label
                                ><input
                                    class="form-control py-4"
                                    id="inputName"
                                    type="text"
                                    placeholder="Nhập họ tên"
                                    formControlName="fullname"
                                />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputEmailAddress">Email</label
                                ><input
                                    class="form-control py-4"
                                    id="inputEmailAddress"
                                    type="email"
                                    aria-describedby="emailHelp"
                                    placeholder="Nhập địa chỉ email"
                                    formControlName="email"
                                />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputPhoneNumber">Số điện thoại</label
                                ><input
                                    class="form-control py-4"
                                    id="inputPhoneNumber"
                                    type="text"
                                    placeholder="Nhập số điện thoại"
                                    formControlName="phoneNumber"
                                />
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="inputUsername">Tên đăng nhập</label
                                ><input
                                    class="form-control py-4"
                                    id="inputUsername"
                                    type="text"
                                    formControlName="username"
                                />
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputPassword"
                                            >Mật khẩu</label
                                        ><input
                                            class="form-control py-4"
                                            id="inputPassword"
                                            type="password"
                                            placeholder="Nhập mật khẩu"
                                            formControlName="password"
                                        />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputConfirmPassword"
                                            >Nhập lại mật khẩu</label
                                        ><input
                                            class="form-control py-4"
                                            id="inputConfirmPassword"
                                            type="password"
                                            placeholder="Nhập lại mật khẩu"
                                            formControlName="copiedPassword"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0">
                                <button class="btn btn-primary btn-block" type="submit">
                                    Đăng ký
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small">
                            <a routerLink="/auth/login">Đã có tài khoản? Đăng nhập</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
