<div class="row">
    <div class="col-md-12 text-right">
        <div class="form-group">
            <button mat-raised-button color="primary" class="btn" (click)="print()">
                In phiếu
            </button>
        </div>
    </div>
</div>
<div contenteditable="true">
    <table style="border-collapse: collapse; border: none; margin: auto; font-size: medium">
        <tbody>
            <tr>
                <td style="vertical-align: top">
                    <div style="margin-left: 5px; margin-right: 20px">
                        <tr>
                            Tỉnh/Thành phố:
                            ............................................................
                        </tr>
                        <tr>
                            Quận/huyện:
                            ...................................................................
                        </tr>
                        <tr>
                            Xã/phường:
                            .....................................................................
                        </tr>
                    </div>
                </td>
                <td style="vertical-align: top; margin-left: 5px; margin-right: 5px">
                    <div style="margin-left: 5px; margin-right: 5px">
                        <tr>
                            Thôn/xóm:
                            ..............................................................................
                        </tr>
                        <tr>
                            Làng/phố:
                            ...............................................................................
                        </tr>
                        <tr>
                            Số nhà:
                            ....................................................................................
                        </tr>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <br /><br />
    <p style="text-align: center; font-size: x-large; font-weight: bold">
        PHIẾU KHẢO SÁT THÔNG TIN DÂN CƯ
    </p>
    <br /><br />
    <div style="margin: auto; font-size: large; text-align: center">
        <p>
            1. CCCD/CMND:
            ................................................................................................................................................
        </p>
        <p>
            2. Họ và tên:
            .......................................................................................................................................................
        </p>
        <p>
            3. Ngày sinh:
            ................................................................................................<span
                style="margin-left: 60px"
                >4. Giới tính: □ Nam&nbsp;&nbsp;□&nbsp;Nữ</span
            >
        </p>
        <p>
            5. Quê quán:
            .......................................................................................................................................................
        </p>
        <p>.............................................................................................................................................................................</p>
        <p>
            6. Địa chỉ thường trú:
            .........................................................................................................................................
        </p>
        <p>.............................................................................................................................................................................</p>
        <p>
            7. Nơi ở hiện tại:
            .................................................................................................................................................
        </p>
        <p>.............................................................................................................................................................................</p>
        <p>
            8. Tôn giáo:
            .........................................................................................................................................................
        </p>
        <p>
            9. Trình độ văn hóa:
            ...........................................................................................................................................
        </p>
        <p>
            10. Nghề nghiệp:
            ................................................................................................................................................
        </p>
    </div>
    <br /><br />
    <table style="margin: auto">
        <tbody>
            <tr>
                <td width="257">
                    <p style="text-align: center;"><strong>C&aacute;n bộ điều tra</strong></p>
                    <p style="text-align: center;"><em>(K&yacute;, ghi r&otilde; họ t&ecirc;n)</em></p>
                </td>
                <td width="257">
                    <p>&nbsp;</p>
                </td>
                <td width="257">
                    <p style="text-align: center;"><strong>Người khai</strong></p>
                    <p style="text-align: center;"><em>(K&yacute;, ghi r&otilde; họ t&ecirc;n)</em></p>
                </td>
            </tr>
        </tbody>
    </table>
</div>
